:root{
  --box-shadow:5px 5px 10px 10px rgba(101,175,10,0.5);
  --bg-color:rgb(40,47,97);
}

body{
  background-color: rgb(11, 26, 51);
  color: rgb(245, 239, 239);
}
/* Navbar Section */
a{
  text-decoration: none;
  color: white;
}
.nav_bar{
  display: flex;
}
.right{
  margin-left: auto;
  margin-top: 12px;
  margin-right: 7%;
  
}
.nav_bar .right :hover{
  border-bottom: 3px solid yellow;
  background-color: rgb(40,47,97);
  border-radius: 15px;
}
.nav_bar .nav_items{
  padding: 15px;
  font-size: 1.4rem;
  font-weight: bold;
}

/* Home Section  */

.home{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}
.home .left{
  /* background-color: var(--bg-color); */
  width: 650px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  /* border: 1px solid yellow; */
  /* box-shadow: var(--box-shadow); */
}

.home .right .img{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.home .right .img img{
  height: 270px;
  width: 270px;
   border-radius: 100%; 
   border: 5px solid yellow; 
  animation-name: superman;
  animation-duration: 3s;
  animation-iteration-count: infinite;}

@keyframes superman{
  0% {
    border-color: blue;
    transform: translate(0,0px);
    box-shadow: 10px 10px 100px 50px blue;
  }
  25% {
    border-color:rgb(239,244,11);
    box-shadow: 10px 10px 100px 20px rgb(239,244,11);
  }
  50% {
    border-color: rgb(12,12,199);
    transform: translate(0,10px);
    box-shadow: 10px 10px 100px 20px rgb(12,12,199);
  }
  75% {
    border-color: rgb(130,217,160);
    box-shadow: 10px 10px 100px 20px rgb(130,217,160);
  }
  100% {
    border-color: rgb(50,55,205);
    transform: translate(0,-0px);
    box-shadow: 10px 10px 100px 20px rgb(50,55,205);
  }
}

/* Skill Section */
.skill{
  width: 900px;
}
.skill h3{
  font-style:oblique;
}
.skill .items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 900px;
  margin: auto;

  
}
.skill .items .item{
  width: calc(33.33%);
  background-color: black;
  margin: 20px;
 text-align: center; 
 padding: 20px;
 border-radius: 10px;
 border: 1px solid yellow;
 box-shadow: var(--box-shadow);
}
.skill .item img{
  width: 70px;
}

/* Contact section */
.contact-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.contact-icons .items{
  background-color: black;
  margin: 10px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid yellow;
  border-radius: 100%;
  color: white;
}
.contact-icons .items:hover{
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  /* color: white; */
}

.contact-icons .icons{
  font-size: 2rem;
}